
{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}


<div class='container-fluid' id="societyHead">
  <div class="row">
    <div class="col-lg-5 ms-auto me-auto">
      {% verbatim %}
      <div class="text-center mt-2" id="print-head">
        <h3 id="heading" style="color: #000 !important; font-family: 'Calibri', sans-serif;"><b>{{ society.society_name }}</b></h3>
        <p style="font-family: 'Calibri', sans-serif;" class="mt-3 p-0 mb-0 print-head-content"><b>Registraion Number: </b> <span>{{ society.registration_number }}</span></p>
        <p style="font-family: 'Calibri', sans-serif;" class="print-head-content">{{ society.society_reg_address }}, {{ society.socity_state }}, {{ society.pin_code }}</p>
      </div>
      {% endverbatim %}
    </div>
  </div>
  <div style="text-align: right;" class="mt-3 no-print">
    <select class="dt-button ms-2 dt-button-custom dataTable-Text" id="statusFilterDropdown">
      <option value="current">Current</option>
      <option value="history">History</option>
      <option value="all">All</option>
    </select>
    <button class="ms-4 dt-button btn-primary dt-button-custom no-print" onclick="printTable()">Print</button>
  </div>

    <div class="shares-table-J mt-3" id="table-container">
      {% verbatim %}
      <center><h5 class="report_h m-0 p-0">List of Units of <b>{{ society.society_name }}</b></h5></center>
      {% endverbatim %}
      <div class="table-responsive" style="font-family: 'Calibri',sans-serif !important; font-size: 15px;">
        <table class="table table-sm table-bordered" style="align-items: center !important; vertical-align: middle;">
          <thead class="table-dark">
            <th>Sr No.</th>
            <th>Unit No.</th>
            <th>Unit Area</th>
            <th>Unit Type</th>
            <th>Unit Mesurement</th>
            <th>Unit Property Tax No.</th>
            <th>Member Name</th>
            <th>From Date</th>
            <th>To Date</th>
          </thead>
          <tbody>
            <tbody>
              {% comment %} {% for data1 in units %}
                {% for data2 in data1.members  %}
                    {% with data1.members|length as rowspan_value %}
                        <tr>
                          {% if forloop.first %}
                            <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>====={{rowspan_value}} {{ forloop.parentloop.counter }}</td>
                            <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.wing_flat_unique }}</td>
                            <td>{{ data1.members.0.member_name }}</td>
                          {% endif %}
                        </tr>
                        {% for data3 in data1.members|slice:"1:" %}
                            <tr>
                                <td>{{ data3.member_name }}</td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            {% endfor %} {% endcomment %}


            {% comment %} {% for data1 in units %}
              {% with data1.members|length as rowspan_value %}
                  {% for data2 in data1.members %}
                      <tr>
                          {% if forloop.first %}
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ forloop.parentloop.counter }}</td>
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.wing_flat_unique }}</td>
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_area }}</td>
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_type }}</td>
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_of_mesurement }}</td>
                              <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.property_tax_no }}</td>
                          {% endif %}
                          <td>{{ data2.member_name }} ({{ data2.member_is_primary }})</td>
                          <td>{{ data2.date_of_admission }}</td>
                          <td>{{ data2.date_of_cessation }}</td>
                      </tr>
                  {% endfor %}
              {% endwith %}
            {% endfor %} {% endcomment %}

                {% for data1 in units %}
                  {% with data1.members|length as rowspan_value %}
                      {% if rowspan_value == 0 and status == 'all' %}
                          <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ data1.wing_flat_unique }}</td>
                              <!-- Display other unit details here -->
                              <td colspan="7">-</td>
                          </tr>
                      {% else %}
                        {% for data2 in data1.members %}
                            <tr>
                                {% if forloop.first %}
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ forloop.parentloop.counter }}</td>
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.wing_flat_unique }}</td>
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_area }}</td>
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_type }}</td>
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.unit_of_mesurement }}</td>
                                    <td {% if rowspan_value > 0 %} rowspan="{{ rowspan_value }}" {% endif %}>{{ data1.flats.property_tax_no }}</td>
                                {% endif %}
                                <td>{{ data2.member_name }} ({{ data2.member_is_primary }})</td>
                                <td>{{ data2.date_of_admission }}</td>
                                <td>{{ data2.date_of_cessation }}</td>
                            </tr>
                        {% endfor %}
                      {% endif %}
                  {% endwith %}
              {% endfor %}
            </tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
    let datatable_columns = {{ datatable_columns }};
</script>

<script>
    $(document).ready(function() {
        var dropdown = $('#statusFilterDropdown');
        console.log("Dropdown value:", dropdown.val());

        // Parse the query string to get the value of the 'selected' parameter
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var selectedValue = urlParams.get('selected');

        // Set the value of the dropdown to the selectedValue
        if (selectedValue) {
            dropdown.val(selectedValue);
        }

        // Add an event listener for the change event
        dropdown.on('change', function() {
            var selectedValue = dropdown.val();
            var newUrl = window.location.pathname + '?selected=' + selectedValue;
            window.location.href = newUrl;
        });
    });
</script>

{% endblock body %}
