{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 ms-auto me-auto" id="societyHead">
          {% verbatim %}
          <div class="text-center mt-2" id="print-head">
            <h3 id="heading" style="color: #000 !important; font-family: 'Calibri', sans-serif;"><b>{{ society.society_name }}</b></h3>
            <p style="font-family: 'Calibri', sans-serif;" class="mt-3 p-0 mb-0 print-head-content"><b>Registraion Number: </b> <span>{{ society.registration_number }}</span></p>
            <p style="font-family: 'Calibri', sans-serif;" class="print-head-content">{{ society.society_reg_address }}, {{ society.socity_state }}, {{ society.pin_code }}</p>
          </div>
          {% endverbatim %}
        </div>
    </div>
    <div class="row" id="balanceSheetVue">
      {% verbatim %}
      <h3 class="text-center">BALANCE SHEET AS ON 31/03/24</h3>
      <div class="col-lg-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Previous Year</th>
              <th scope="col">Liabilities</th>
              <th></th>
              <th scope="col">Current Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>I. Share Capital:</td>
              <td></td>
              <td>100000</td>
            </tr>
            <tr>
              <td></td>
              <td>I-A. Subscription towards shares:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>II. Reserve Fund and Other Funds:</td>
              <td>3000.00</td>
            </tr>
            <tr>
              <td></td>
              <td>III. Secured Loans:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>V. Unsecured Loans:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>VI. Deposits:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>VII. Current Liabilities and Provisions:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>IX. Interest accrued due but not paid:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Income & Expenditure A/c</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endverbatim %}


      <div class="col-lg-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Previous Year</th>
              <th scope="col">Assets</th>
              <th></th>
              <th scope="col">Current Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>VII. Fixed Assets:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>II. Investments</td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2"></td>
              <td>I. Cash and Bank balances<td>
              <td></td>
            </tr>
            <tr>
              <td>(a) Cash on hand</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>IV. Loans and Advances:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>VI. Current Assets:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>X. Profit and Loss Account:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Accumulated losses not written off from the reserve or any other fund</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Income & Expenditure A/c</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

<script>
  let datatable_columns = {{ datatable_columns }};
</script>

{% endblock body %}