{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-5 ms-auto me-auto" id="societyHead">
          {% verbatim %}
          <div class="text-center mt-2" id="print-head">
            <h3 id="heading" style="color: #000 !important; font-family: 'Calibri', sans-serif;"><b>{{ society.society_name }}</b></h3>
            <p style="font-family: 'Calibri', sans-serif;" class="mt-3 p-0 mb-0 print-head-content"><b>Registraion Number: </b> <span>{{ society.registration_number }}</span></p>
            <p style="font-family: 'Calibri', sans-serif;" class="print-head-content">{{ society.society_reg_address }}, {{ society.socity_state }}, {{ society.pin_code }}</p>
          </div>
          {% endverbatim %}
    </div>

    <div class="row">
      <h3 class="text-center">BALANCE SHEET AS ON 31/03/24</h3>
      <div class="col-lg-6">
        <table class="table table-bordered">
          <thead class="dark-border table-dark">
            <tr>
              <th scope="col">Previous Year</th>
              <th scope="col">Liabilities</th>
              <th></th>
              <th scope="col">Current Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td><h5>Share Capital</h5></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Subscription Towards Shares</u></h5>
                <div class="ms-3">
                  {% for group, items in group1.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Reserve Fund And Other Funds</u></h5>
                <div class="ms-3">
                  {% for group, items in group2.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td>3000.00</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Secured Loans</u></h5>
                <div class="ms-3">
                  {% for group, items in group3.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Unsecured Loans</u></h5>
                <div class="ms-3">
                  {% for group, items in group4.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Deposits</u></h5>
                <div class="ms-3">
                  {% for group, items in group5.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Current Liabilities And Provisions</u></h5>
                <div class="ms-3">
                  {% for group, items in group6.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Interest Accrued Due But Not Paid</u></h5>
                <div class="ms-3">
                  {% for group, items in group7.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><h5>Income & Expenditure A/c</h5></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-lg-6">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Previous Year</th>
              <th scope="col">Assets</th>
              <th></th>
              <th scope="col">Current Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Fixed Assets</u></h5>
                <div class="ms-3">
                  {% for group, items in group8.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Investment</u></h5>
                <div class="ms-3">
                  {% for group, items in group9.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td>3000.00</td>
            </tr>
            <tr>
              <td></td>

              <td>
                <br><h5><u>Cash And Bank Balances</u></h5>
                <div class="ms-3">
                  {% for group, items in group10.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              <td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <br>
                <h5><u>Loans And Advances</u></h5>
                <div class="ms-3">
                  {% for group, items in group11.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Current Assest</u></h5>
                <div class="ms-3">
                  {% for group, items in group12.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <h5><u>Profit And Loss Account</u></h5>
                <div class="ms-3">
                  {% for group, items in group13.items %}
                  <h5>Ledgers under {{ group }}:</h5>
                  <ul>
                      {% for item in items %}
                          <li>{{ item }}</li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><h5>Accumulated losses not <br>written off from the reserve or any other fund</h5></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><h5>Income & Expenditure A/c</h5></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

<script>
  let datatable_columns = {{ datatable_columns }};
</script>

{% endblock body %}