<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuelidate Example</title>
  <style>

.container {
    width: 500px;
    font-family: Helvetica, sans-serif;
  }
  h1 {
    text-align: center
  }
  img {
    text-align: center
  }
  .submitted {
    color: #4fc08d;
  }
  </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.8/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/g/lodash@4.17.2,vee-validate@2.0.0-beta.14"></script>
    <script>
      Vue.use(VeeValidate); // good to go.
    </script>

    <div id="app" class="container">
        {% verbatim %}
      <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">

        <h1>Form Validation with Vue 2</h1>
        <div class="form-group" :class="{'has-error': errors.has('name') }">
          <label class="control-label" for="name">Name</label>
          <input v-model="name" v-validate.initial="name" data-rules="required|alpha|min:3" class="form-control" type="text" placeholder="Full Name">
          <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('email') }">
          <label class="control-label" for="email">Email</label>
          <input v-model="email" v-validate.initial="email" data-rules="required|email" class="form-control" type="email" placeholder="Email">
          <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('url') }">
          <label class="control-label" for="url">Website</label>
          <input v-model="url" v-validate.initial="url" data-rules="required|url" class="form-control" type="text" placeholder="Website">
          <p class="text-danger" v-if="errors.has('url')">{{ errors.first('url') }}</p>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('secret') }">
          <label class="control-label" for="secret">Secret</label>
          <input v-model="secret" v-validate.initial="secret" data-rules="required|passphrase" class="form-control" type="text" placeholder="Code Phrase">
          <p class="text-danger" v-if="errors.has('secret')">{{ errors.first('secret') }}</p>
        </div>

        <div class="form-group" :class="{'has-error': errors.has('name') }">
            <label class="control-label" for="name">Name</label>
            <input v-model="name" v-validate.initial="name" data-rules="required|alpha|min:3" class="form-control" type="text" placeholder="Full Name">
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
          </div>

          <ValidationProvider rules="required" v-slot="{ validate, errors }">
            <div>
              <input type="file" @change="handleFileChange($event) || validate($event)">
              <p id="error">{{ errors[0] }}</p>
            </div>
          </ValidationProvider>




        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </form>
      {% endverbatim %}
      <div v-else>
        <h1 class="submitted">Form submitted successfully!</h1>
      </div>
    </div>


    <script>
        Vue.use(VeeValidate)


new Vue({
  el: '#app',
  data: {
      email: '',
      name: '',
      url: '',
      secret: '',
      formSubmitted: false
    },
  methods: {
    validateBeforeSubmit(e) {
        this.$validator.validateAll();
        if (!this.errors.any()) {
            this.submitForm()
        }
      },
    submitForm(){
      this.formSubmitted = true
    }
  }
})

VeeValidate.Validator.extend('passphrase', {
    getMessage: field => 'Sorry dude, wrong pass phrase.',
    validate: value => value.toUpperCase() == 'Demogorgon'.toUpperCase()
});
    </script>

</body>
</html>
