{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}

<style>
    :root {
        --color-theme-rgb: 40, 40, 40;
        --color-text-rgb: 250, 250, 250;
        --color-primary-rgb: 80, 110, 120;
        --color-box-rgb: 30, 30, 30;
      }
      * {
        box-sizing: border-box;
      }
      a {
        color: inherit;
        text-decoration: none;
      }

      aside {
        width: 250px;
        padding: 1em 0;
        flex-shrink: 0;
        flex-basis: 250px;
      }

      aside .list,
      aside .list-item {
        display: block;
        padding: 0;
        margin: 0;
      }
      aside .list {
        --depth: 1;
      }
      aside .list-item {
        padding: 0.5em 1em 0.5em calc(2em * var(--depth));
        margin: 0 0 3px 0;
        display: flex;
        align-items: center;
        position: relative;
      }
      aside .list-item:hover,
      aside .list li:has(.list-item.active) > .list-item,
      aside .list-item.active {
        background-color: rgb(var(--color-primary-rgb));
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        cursor: pointer;
      }
      aside .list-item:has(+ .list)::before {
        content: '';
        display: block;
        position: absolute;
        margin-left: -1.15em;
        width: 0.3em;
        height: 0.3em;
        border-width: 0 1px 1px 0;
        border-style: solid;
        transform: rotate(-45deg);
        transition: transform 300ms;
      }

      .list .list {
        overflow-y: hidden;
        height: 0;
      }
      .list .list.open {
        height: auto;
      }
      .list .list-item:has(+ .list.open)::before {
        transform: rotate(45deg);
      }

      #main {
        display: block;
        padding: 0.5em 1em;
        min-width: 500px;
        max-width: calc(100% - 250px);
        flex-grow: 1;
      }
      .box {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        padding: 0.5em 1em;
        background-color: rgb(var(--color-box-rgb));
      }
</style>


{% verbatim %}
<div class="container-fluid mt-5 ms-2" id="app">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-4 text-left bg-dark text-light">
          Previous Year
        </div>
        <div class="col-md-4 text-left bg-dark text-light">
          Assets
        </div>
        <div class="col-md-4 text-left bg-dark text-light">
          Current Year
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="font-size: 21px;" >
      <nested-list :data="assets_response" :depth="1"></nested-list>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-6" style="font-size: 21px;" >
      <nested-list :data="libility_response" :depth="1"></nested-list>
    </div>
  </div>
</div>
{% endverbatim %}


<script>
  Vue.component('nested-list', {
      props: ['data', 'depth'],
      template: `
      {% verbatim %}
      <ul class="list row" :style="{ '--depth': depth }">
        <li v-for="(value, key) in data" :key="key" v-if="key !== 'final_total'" class="col-12">
          <div class="row">
            <div class="col-md-4 text-start">
              {{ key !== 'ledgers' ? (value.final_total !== undefined ? value.final_total.toLocaleString() : '0') : '' }}
            </div>
            <div class="col-md-4">
              <a v-if="key !== 'ledgers'" href="#" class="list-item">
                <span>{{ key }}</span>
              </a>
              <template v-if="key === 'ledgers'">
                <p v-if="Object.keys(value).length > 0" v-for="(amount, ledger) in value" :key="ledger">
                  {{ ledger }}: <span class="amount">{{ amount }}</span><br>
                </p>
              </template>
            </div>
            <!-- <div class="col-md-3 text-end">
              {{ key !== 'ledgers' ? (value.final_total !== undefined ? value.final_total.toLocaleString() : '0') : '' }}
            </div> -->
            <div class="col-md-4 text-end">
              {{ key !== 'ledgers' ? (value.final_total !== undefined ? value.final_total.toLocaleString() : '0') : '' }}
            </div>
          </div>
          <nested-list v-if="isObject(value)" :data="value" :depth="depth + 1"></nested-list>
        </li>
      </ul>
      {% endverbatim %}
      `,
      methods: {
          isObject(value) {
              return value && typeof value === 'object';
          },
          initializeCollapse() {
            // Your existing JavaScript code
            const collapse = function(willCollapse = true, callback = (list) => {}) {
              this.collapsing = true;
              const height = this.scrollHeight;
              const stateFrom = {height: height + 'px'};
              const stateTo = {height: '0px'};

              let animateState = [stateFrom, stateTo];
              if (!willCollapse) animateState = [stateTo, stateFrom];

              this.animate(animateState, {
                duration: 500,
                iterations: 1,
                easing: 'ease-in-out'
              }).finished.then(val => {
                this.collapsing = false;
                if (callback && typeof(callback) == 'function') {
                  callback(this);
                }
              });
            };
            const showActiveTab = (tab) => {
              if (tab) {
                document.querySelector('#active-tab').textContent = tab.textContent;
              }
            };
            showActiveTab(document.querySelector('.list-item.active'));

            document.querySelectorAll('.list li').forEach(li => {
              const list = li.querySelector('.list');
              if (list) list.collapse = collapse.bind(list);
              li.querySelector('.list-item').addEventListener('click', (event) => {
                // if not a list (just list-item)
                if (!list) {
                  document.querySelectorAll('.list-item').forEach(listItem => {
                    listItem.classList.remove('active');
                  });
                  event.target.classList.add('active');
                  showActiveTab(event.target);
                  event.preventDefault();
                  return;
                }
                // if list still collapsing
                if (list.collapsing) {
                  event.preventDefault();
                  return;
                }
                // set list collapse or open
                if (!list.classList.contains('open')) {
                  list.classList.add('open');
                  list.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                  list.parentElement.parentElement.querySelectorAll('& > li > .list.open').forEach(oList => {
                    if (oList !== list) {
                      oList.collapse(true, ls => {
                        ls.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                        ls.classList.remove('open');
                      });
                    }
                  });
                  // open
                  list.collapse(false);
                } else {
                  // collapse
                  list.collapse(true, ls => {
                    ls.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                    ls.classList.remove('open');
                  });
                }
              });
            });
          },
      },
    mounted() {
      this.initializeCollapse();
    },
    updated() {
      this.initializeCollapse();
    }
  });

  new Vue({
      el: '#app',
      data: {
        assets_response: {},
        libility_response: {},
        },
        mounted(){
          axios.get('http://127.0.0.1:8000/api/balance_sheet')
          .then(response => {
            this.assets_response = response.data['assets_response'][0];
            this.libility_response = response.data['libility_response'][0];
          })
          .catch(error => {
            console.log("Error Fetching Balance Sheet Data.")
          });
        }
  });
</script>

<script>
  const collapse = function(willCollapse = true, callback = (list) => {}) {
      this.collapsing = true;
      const height = this.scrollHeight;
      const stateFrom = {height: height + 'px'};
      const stateTo = {height: '0px'};

      let animateState = [stateFrom, stateTo];
      if(!willCollapse) animateState = [stateTo, stateFrom];

      this.animate(animateState,{
        duration:500,
        iterations:1,
        easing:'ease-in-out'
      }).finished.then(val => {
        this.collapsing = false;
        if(callback && typeof(callback) == 'function'){
          callback(this);
        }
      });
    }
    const showActiveTab = (tab) => {
      if(tab){
        document.querySelector('#active-tab').textContent = tab.textContent;
      }
    }
    showActiveTab(document.querySelector('.list-item.active'));

    document.querySelectorAll('.list li').forEach(li => {
        const list = li.querySelector('.list');
        if(list)list.collapse = collapse.bind(list);
        li.querySelector('.list-item').addEventListener('click', (event) => {
            // if not a list (just list-item)
            if(!list){
              document.querySelectorAll('.list-item').forEach(listItem => {
                listItem.classList.remove('active');
              });
              event.target.classList.add('active');
              showActiveTab(event.target);
              event.preventDefault();
              return;
            }
            // if list still collapsing
            if(list.collapsing){
                event.preventDefault();
                return;
            }
            // set list collapse or open
            if(!list.classList.contains('open')) {
                list.classList.add('open')
                list.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                list.parentElement.parentElement.querySelectorAll('& > li > .list.open').forEach(oList => {
                  if(oList !== list){
                    oList.collapse(true, ls => {
                        ls.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                        ls.classList.remove('open');
                    });
                  }
                });
                // open
                list.collapse(false);
            } else {
                // collapse
                list.collapse(true, ls => {
                    ls.querySelectorAll('.list').forEach(oList => oList.classList.remove('open'));
                    ls.classList.remove('open');
                });
            }
        })
    })
</script>

{% endblock body %}

