{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}

<div class="container">
    <div class="member-title mt-4 d-flex" style="justify-content: space-between;">
        <h3 class="lead" style="font-size: 27px;">House Help Details</h3>
        <div class="gap-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#houseHelpAllocationCreation">Create House Help</button>
        </div>
    </div>
    <div class="mt-4">
        <div id="houseHelpAllocationTableDiv">
            {% verbatim %}
            <table id="example" class="display dt-table order-column" style="width:100%">
                <!-- <table id="houseHelpDataTable"> -->
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th v-for="(value, key) in houseHelpAllocation[0]" :key="key">{{ key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(houseHelpAllocation, index) in houseHelpAllocation" :key="index">
                        <td>
                            <span @click="viewRequestedData(houseHelpAllocation.id)" class="me-3"><i class="fa-solid fa-eye"></i></span>
                            <span @click="editRequestedData(houseHelpAllocation.id)"><i class="fa-solid fa-pen-to-square"></i></span>
                        </td>
                        <td v-for="(value, key) in houseHelpAllocation" :key="key">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
            {% endverbatim %}

            <div class="modal fade" id="houseHelpAllocationUpdation" tabindex="-1" aria-labelledby="houseHelpAllocationUpdationLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="houseHelpAllocationUpdationLabel">Update House Help</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% verbatim %}
                                <form @submit.prevent="submitHoseHelpAllocationForm(formData.id)" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <select v-model="formData.wing_flat" class="w-100 sty-inp form-control">
                                                    <option value="key">value</option>
                                                    <option value="key">value</option>
                                                </select>
                                                <label for="id_get_hh_flat_owner_name" class="sty-label">Wing & Flat No.</label>
                                                <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="text" class="sty-inp form-control w-100" v-model="formData.owner_name">
                                                <label for="id_flat_primary_owner_hh" class="sty-label">Owner Name</label>
                                                <span v-if="errors.owner_name" class="error">{{ errors.owner_name[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="text" class="sty-inp form-control w-100" v-model="formData.house_help_pan">
                                                <label for="" class="sty-label">Aadhaar / PAN No.</label>
                                                <span v-if="errors.house_help_pan" class="error">{{ errors.house_help_pan[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="text" class="sty-inp form-control w-100" v-model="formData.house_help_name" />
                                                <label for="" class="sty-label">House Help Name</label>
                                                <span v-if="errors.house_help_name" class="error">{{ errors.house_help_name[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="text" class="sty-inp form-control w-100" v-model="formData.house_help_role">
                                                <label for="id_hh_role" class="sty-label">House Help Role</label>
                                                <span v-if="errors.house_help_role" class="error">{{ errors.house_help_role[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="date" class="sty-inp form-control w-100" v-model="formData.house_help_period_from">
                                                <label for="id_tenant_period_to_Edit" class="sty-label">Period From</label>
                                                <span v-if="errors.house_help_period_from" class="error">{{ errors.house_help_period_from[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4">
                                            <div class="sty-input-wrapper w-100">
                                                <input type="date" class="sty-inp form-control w-100" v-model="formData.house_help_period_to">
                                                <label for="id_tenant_period_to_Edit" class="sty-label">Period To</label>
                                                <span v-if="errors.house_help_period_to" class="error">{{ errors.house_help_period_to[0] }}</span>
                                                <span v-else></span>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" value="Submit" >Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="houseHelpAllocationView" tabindex="-1" aria-labelledby="houseHelpAllocationViewLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="houseHelpAllocationViewLabel">House Help View</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% verbatim %}
                                <h1>View Data</h1>
                                <p>wing_flat: {{houseHelpAllocationData.wing_flat_together }}</p>
                                <p>owner_name: {{houseHelpAllocationData.owner_name_house_help_name }}</p>
                                <p>house_help_aadhar: {{houseHelpAllocationData.house_help_aadhar_num }}</p>
                                <p>house_help_period_from: {{houseHelpAllocationData.house_help_pan_num }}</p>
                                <p>house_help_pan: {{houseHelpAllocationData.house_help_period_from }}</p>
                                <p>house_help_name: {{houseHelpAllocationData.house_help_period_to }}</p>
                                <p>house_help_role: {{houseHelpAllocationData.house_help_role }}</p>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="houseHelpAllocationCreation" tabindex="-1" aria-labelledby="houseHelpAllocationCreationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="houseHelpAllocationCreationLabel">Create House Help</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% verbatim %}
                    <form @submit.prevent="addHouseHelpAllocation(formData.id)" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <select v-model="formData.wing_flat" class="w-100 sty-inp form-control" @change="getOwnerName">
                                        <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                                    </select>
                                    <label for="" class="sty-label">Wing & Flat No.</label>
                                    <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp form-control w-100" v-model="formData.member_name">
                                    <input type="text" class="sty-inp form-control w-100" v-model="formData.pk">
                                    <input type="text" class="sty-inp form-control w-100" v-model="formData.aadharPanPk">

                                    <label for="" class="sty-label">Owner Name</label>
                                    <span v-if="errors.member_name" class="error">{{ errors.member_name[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp form-control w-100" @input="getAadharPan">
                                    <label for="" class="sty-label">Aadhaar / PAN No.</label>
                                    <span v-if="errors.house_help_pan" class="error">{{ errors.house_help_pan[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp form-control w-100" v-model="formData.name" />
                                    <label for="" class="sty-label">House Help Name</label>
                                    <span v-if="errors.name" class="error">{{ errors.name[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp form-control w-100" v-model="formData.role">
                                    <label for="id_hh_role" class="sty-label">House Help Role</label>
                                    <span v-if="errors.role" class="error">{{ errors.role[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="date" class="sty-inp form-control w-100" v-model="formData.house_help_period_from">
                                    <label for="id_tenant_period_to_Edit" class="sty-label">Period From</label>
                                    <span v-if="errors.house_help_period_from" class="error">{{ errors.house_help_period_from[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="sty-input-wrapper w-100">
                                    <input type="date" class="sty-inp form-control w-100" v-model="formData.house_help_period_to">
                                    <label for="id_tenant_period_to_Edit" class="sty-label">Period To</label>
                                    <span v-if="errors.house_help_period_to" class="error">{{ errors.house_help_period_to[0] }}</span>
                                    <span v-else></span>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" value="Submit" >Save changes</button>
                            </div>
                        </div>
                    </form>
                {% endverbatim %}
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock body %}