{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Society-Creation</title> {% endblock title %}

{% block body %}


<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-11 col-lg-11 col-xl-10 text-center p-0 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-1 mb-3" id="addMemberDiv">
          <h2 id="heading">Member Creation</h2>
          <p style="color: #616161">
            Fill all form field to go to next step
          </p>
          <div name="main-member-form" id="msform">
            <!-- progressbar -->
            <ul id="progressbar" class="col-10 ms-auto me-auto" style="padding: 0 !important">
              <!-- <li id="flat" class="active" style="width: 20% !important;"><strong>Flat Details</strong></li> -->
              <li id="member" class="active" style="width: 20% !important;"><strong>Members Details</strong></li>
              <li id="shares" style="width: 20% !important;"><strong>Shares Details</strong></li>
              <li id="homeLoan" style="width: 20% !important;"><strong>Home Loan Details</strong></li>
              <li id="gst" style="width: 20% !important;"><strong>GST Details</strong></li>
              <li id="vehicle" style="width: 20% !important;"><strong>Vehicle Details</strong></li>
            </ul>

            <fieldset>
              <div>
                {% verbatim %}
                  <form enctype="multipart/form-data">
                    <p class="text-center">{{ primary_member_msg }}</p>
                    <div class="row mt-3" style="text-align: left">
                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp form-control" v-model="formData.wing_flat" id="flatDropdown" @change="get_checkbox_value($event)" :style="{ borderColor: errors.wing_flat ? '#dc3545' : '' }">
                            <option value="">Select Block</option>
                            <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                          </select>
                          <label for="wing_flat_select" class="sty-label">Wing & Flat No.</label>
                          <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="formData.member_name" :style="{ borderColor: errors.member_name ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member's Name</label>
                          <span v-if="errors.member_name" class="error">{{ errors.member_name[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" min="0" max="100" class="w-100 sty-inp percentage-input" v-model="formData.ownership_percent" @input="getOwnership(formData.wing_flat, $event)" :style="{ borderColor: (errors.ownership_percent && errors.ownership_percent[0]) || (errors.non_field_errors && errors.non_field_errors[0]) ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Ownership %</label>
                          <span v-if="ownershipError" style="color: red;">{{ ownershipError }}</span>
                          <span v-if="(errors.ownership_percent && errors.ownership_percent[0]) || (errors.non_field_errors && errors.non_field_errors[0])" class="error">
                            {{ errors.ownership_percent ? errors.ownership_percent[0] : errors.non_field_errors[0] }}
                          </span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp" v-model="formData.member_position" style="background-color: white;" :style="{ borderColor: errors.member_position ? '#dc3545' : '' }">
                            <option value="">Select Member Position</option>
                            <option value="nominal_member">Nominal Member</option>
                            <option value="associate_member">Associate Member</option>
                            <option value="member">Member</option>
                          </select>
                          <label class="sty-label">Member Position</label>
                          <span v-if="errors.member_position" class="error">{{ errors.member_position[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp form-control" v-model="formData.member_dob" :style="{ borderColor: errors.member_dob ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member DOB</label>
                          <span v-if="errors.member_dob" class="error">{{ errors.member_dob[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" style="text-transform:uppercase" v-model="formData.member_pan_no" :style="{ borderColor: errors.member_pan_no ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member PAN No</label>
                          <span v-if="errors.member_pan_no" class="error">{{ errors.member_pan_no[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_aadhar_no" :style="{ borderColor: errors.member_aadhar_no ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member Aadhaar No</label>
                          <span v-if="errors.member_aadhar_no" class="error">{{ errors.member_aadhar_no[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <textarea class="w-100 sty-inp form-control" cols="30" rows="1" v-model="formData.member_address" :style="{ borderColor: errors.member_address ? '#dc3545' : '' }"></textarea>
                          <label for="" class="sty-label">Member Permanent Address</label>
                          <span v-if="errors.member_address" class="error">{{ errors.member_address[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp" v-model="formData.member_state" style="background-color: white;":style="{ borderColor: errors.member_state ? '#dc3545' : '' }">
                            <option value="">Select State</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option value="Andaman and Nicobar ">Andaman and Nicobar </option>
                            <option value="Islands">Islands</option>
                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                          </select>
                          <label for="" class="sty-label">State</label>
                          <span v-if="errors.member_state" class="error">{{ errors.member_state[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_pin_code" :style="{ borderColor: errors.member_pin_code ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Pin Code</label>
                          <span v-if="errors.member_pin_code" class="error">{{ errors.member_pin_code[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="email" class="w-100 sty-inp" v-model="formData.member_email" :style="{ borderColor: errors.member_email ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member Email</label>
                          <span v-if="errors.member_email" class="error">{{ errors.member_email[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp form-control" v-model="formData.member_contact" :style="{ borderColor: errors.member_contact ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Member Contact No.</label>
                          <span v-if="errors.member_contact" class="error">{{ errors.member_contact[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="number" class="w-100 sty-inp" v-model="formData.member_emergency_contact" :style="{ borderColor: errors.member_emergency_contact ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Emergency Contact No.</label>
                          <span v-if="errors.member_emergency_contact" class="error">{{ errors.member_emergency_contact[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="formData.member_occupation" :style="{ borderColor: errors.member_occupation ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Occupation</label>
                          <span v-if="errors.member_occupation" class="error">{{ errors.member_occupation[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp" v-model="formData.date_of_admission" :style="{ borderColor: errors.date_of_admission ? '#dc3545' : '' }">
                          <label for="id_date_of_admission" class="sty-label">Date of admission</label>
                          <span v-if="errors.date_of_admission" class="error">{{ errors.date_of_admission[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-6 mb-2 d-flex">
                        <div class="w-100 sty-input-wrapper">
                            <input type="file" class="w-100 sty-inp form-control" ref="sales_agreement" @change="handleChangeFile" :style="{ borderColor: errors.sales_agreement ? '#dc3545' : '' }">
                            <label for="id_sales_agreement" class="sty-label">Sales Agreement</label>
                            <span v-if="errors.sales_agreement" class="error">{{ errors.sales_agreement[0] }}</span>
                          <span v-else></span>
                        </div>
                        <div class="prev">
                            <button type="button" class="sty-inp form-control"
                                onclick="PreviewImage('id_sales_agreement')">
                                <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                            </button>
                        </div>
                      </div>

                      <div class="col-lg-6 mb-2 d-flex">
                        <div class="w-100 sty-input-wrapper">
                            <input type="file" class="w-100 sty-inp form-control" ref="other_attachment" @change="handleChangeFile"  :style="{ borderColor: errors.other_attachment ? '#dc3545' : '' }">
                            <label for="id_other_attachment" class="sty-label">Other Attachment</label>
                            <span v-if="errors.other_attachment" class="error">{{ errors.other_attachment[0] }}</span>
                          <span v-else></span>
                        </div>
                        <div class="prev">
                            <button type="button" class="sty-inp form-control" onclick="PreviewImage('id_tenant_noc')">
                                <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                            </button>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="date" class="w-100 sty-inp" v-model="formData.date_of_entrance_fees" :style="{ borderColor: errors.date_of_entrance_fees ? '#dc3545' : '' }">
                          <label for="id_date_of_entrance_fees" class="sty-label">Date of entrance fees</label>
                          <span v-if="errors.date_of_entrance_fees" class="error">{{ errors.date_of_entrance_fees[0] }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 d-flex align-items-center" id="id_is_primary_container" v-if="flat_having_primary_mem">
                        <small id="id_is_primary">
                          <span class="me-2 mb-2">
                            <input type="checkbox" class="sty-inp" v-model="formData.member_is_primary":style="{ borderColor: errors.member_is_primary ? '#dc3545' : '' }" checked disabled>
                          </span>Make Primary Member
                          <span v-if="errors.member_is_primary" class="error">{{ errors.member_is_primary[0] }}</span>
                          <span v-else></span>
                        </small>
                      </div>
                    </div>

                    <div class="seven my-3">
                      <h1>Add Nominee</h1>
                    </div>

                    <div v-for="(form, index) in forms" :key="index">
                      <p class="lead">Nominee {{ getFormNumber(index) }}</p>

                      <div class="row abcd" id="cloneNominee">
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" v-model="form.nominee_name" :style="{ borderColor: nomError[index] && nomError[index].nominee_name ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee Name</label>
                            <span v-if="nomError[index] && nomError[index].nominee_name" class="error">{{ nomError[index].nominee_name }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="date" class="w-100 sty-inp form-control" v-model="form.date_of_nomination"  :style="{ borderColor: nomError[index] && nomError[index].date_of_nomination ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Date of Nomination</label>
                            <span v-if="nomError[index] && nomError[index].date_of_nomination" class="error">{{ nomError[index].date_of_nomination }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input class="w-100 sty-inp form-control" type="text" v-model="form.relation_with_nominee"  :style="{ borderColor: nomError[index] && nomError[index].relation_with_nominee ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Relation with Nominator</label>
                            <span v-if="nomError[index] && nomError[index].relation_with_nominee" class="error">{{ nomError[index].relation_with_nominee }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp form-control percentage-input" v-model="form.nominee_sharein_percent" :style="{ borderColor: nomError[index] && nomError[index].nominee_sharein_percent ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee Sharein %</label>
                            <span v-if="nomError[index] && nomError[index].nominee_sharein_percent" class="error">{{ nomError[index].nominee_sharein_percent }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="date" class="w-100 sty-inp"v-model="form.nominee_dob" :style="{ borderColor: nomError[index] && nomError[index].nominee_dob ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee DOB</label>
                            <span v-if="nomError[index] && nomError[index].nominee_dob" class="error">{{ nomError[index].nominee_dob }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.nominee_aadhar_no" :style="{ borderColor: nomError[index] && nomError[index].nominee_aadhar_no ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee Aadhaar No</label>
                            <span v-if="nomError[index] && nomError[index].nominee_aadhar_no" class="error">{{ nomError[index].nominee_aadhar_no }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" style="text-transform:uppercase" v-model="form.nominee_pan_no" :style="{ borderColor: nomError[index] && nomError[index].nominee_pan_no ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee PAN No</label>
                            <span v-if="nomError[index] && nomError[index].nominee_pan_no" class="error">{{ nomError[index].nominee_pan_no }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="text" class="w-100 sty-inp" v-model="form.nominee_email" :style="{ borderColor: nomError[index] && nomError[index].nominee_email ? '#dc3545' : '' }">
                            <label for="id_nominee_email" class="sty-label">Nominee Email</label>
                            <span v-if="nomError[index] && nomError[index].nominee_email" class="error">{{ nomError[index].nominee_email }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <textarea class="w-100 sty-inp form-control" cols="30" rows="1" v-model="form.nominee_address" :style="{ borderColor: nomError[index] && nomError[index].nominee_address ? '#dc3545' : '' }"></textarea>
                            <label for="" class="sty-label">Nominee Permanent Address</label>
                            <span v-if="nomError[index] && nomError[index].nominee_address" class="error">{{ nomError[index].nominee_address }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <select class="w-100 sty-inp" v-model="form.nominee_state" style="background-color: white;" :style="{ borderColor: nomError[index] && nomError[index].nominee_state ? '#dc3545' : '' }">
                              <option value="">Select State</option>
                              <option value="Andhra Pradesh">Andhra Pradesh</option>
                              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                              <option value="Assam">Assam</option>
                              <option value="Bihar">Bihar</option>
                              <option value="Chhattisgarh">Chhattisgarh</option>
                              <option value="Goa">Goa</option>
                              <option value="Gujarat">Gujarat</option>
                              <option value="Haryana">Haryana</option>
                              <option value="Himachal Pradesh">Himachal Pradesh</option>
                              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                              <option value="Jharkhand">Jharkhand</option>
                              <option value="Karnataka">Karnataka</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Madhya Pradesh">Madhya Pradesh</option>
                              <option value="Maharashtra">Maharashtra</option>
                              <option value="Manipur">Manipur</option>
                              <option value="Meghalaya">Meghalaya</option>
                              <option value="Mizoram">Mizoram</option>
                              <option value="Nagaland">Nagaland</option>
                              <option value="Odisha">Odisha</option>
                              <option value="Punjab">Punjab</option>
                              <option value="Rajasthan">Rajasthan</option>
                              <option value="Sikkim">Sikkim</option>
                              <option value="Tamil Nadu">Tamil Nadu</option>
                              <option value="Telangana">Telangana</option>
                              <option value="Tripura">Tripura</option>
                              <option value="Uttar Pradesh">Uttar Pradesh</option>
                              <option value="Uttarakhand">Uttarakhand</option>
                              <option value="West Bengal">West Bengal</option>
                              <option value="Andaman and Nicobar ">Andaman and Nicobar </option>
                              <option value="Islands">Islands</option>
                              <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                              <option value="Daman and Diu">Daman and Diu</option>
                              <option value="Delhi">Delhi</option>
                              <option value="Ladakh">Ladakh</option>
                              <option value="Lakshadweep">Lakshadweep</option>
                              <option value="Puducherry">Puducherry</option>
                            </select>
                            <label for="" class="sty-label">State</label>
                            <span v-if="nomError[index] && nomError[index].nominee_state" class="error">{{ nomError[index].nominee_state }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.nominee_pin_code" :style="{ borderColor: nomError[index] && nomError[index].nominee_pin_code ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Pin Code</label>
                            <span v-if="nomError[index] && nomError[index].nominee_pin_code" class="error">{{ nomError[index].nominee_pin_code }}</span>
                            <span v-else></span>
                          </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp form-control" v-model="form.nominee_contact" :style="{ borderColor: nomError[index] && nomError[index].nominee_contact ? '#dc3545' : '' }">
                            <label for="" class="sty-label">Nominee Contact No.</label>
                            <span v-if="nomError[index] && nomError[index].nominee_contact" class="error">{{ nomError[index].nominee_contact }}</span>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <input type="number" class="w-100 sty-inp" v-model="form.nominee_emergency_contact">
                            <label for="" class="sty-label">Emergency Contact No.</label>
                            <span v-else></span>
                          </div>
                        </div>
                        <div class="col-lg-4 mb-4 gap-3 align-items-center">
                          <span @click.prevent="removeForm(index)"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                        <hr />
                      </div>
                    </div>
                    <span @click.prevent="addForm" class="add-mem-btn float-start">Add Nominee</span>
                    <input type="button" class="add-mem-btn" @click="submitMembers(false)" value="Save & Next">
                    <input type="button" class="add-mem-btn" @click="submitMembers(true)" value="Save & Add Another">
                  </form>
                {% endverbatim %}
              </div>
              <p id="redirectToShares"></p>
            </fieldset>

            <fieldset>
              <div>
                  {% verbatim %}
                  <form enctype="multipart/form-data">
                    <div class="row pt-3 ps-4 pe-4">
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                            <select class="w-100 sty-inp form-control" v-model="formData.wing_flat" :style="{ borderColor: errors.wing_flat ? '#dc3545' : '' }">
                              <option value="">Select Block</option>
                              <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                              <option v-if="units.length === 0" value="">All flats have their shares added, which has members.</option>
                            </select>
                            <label for="wing_flat_select" class="sty-label">Wing & Flat No.</label>
                            <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                            <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.folio_number" :style="{ borderColor: errors.folio_number ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Folio Number</label>
                              <span v-if="errors.folio_number" class="error">{{ errors.folio_number[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="date" class="w-100 sty-inp" v-model="formData.shares_date" ref="shares_dateInput" :style="{ borderColor: errors.shares_date ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Share Issue Date</label>
                              <span v-if="errors.shares_date" class="error">{{ errors.shares_date[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.application_number" :style="{ borderColor: errors.application_number ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Application Number</label>
                              <span v-if="errors.application_number" class="error">{{ errors.application_number[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.shares_certificate" :style="{ borderColor: errors.shares_certificate ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Serial No. of Certificate</label>
                              <span v-if="errors.shares_certificate" class="error">{{ errors.shares_certificate[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.allotment_number" :style="{ borderColor: errors.allotment_number ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Allotment Number</label>
                              <span v-if="errors.allotment_number" class="error">{{ errors.allotment_number[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.shares_from" :style="{ borderColor: errors.shares_from ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Share No. from</label>
                              <span v-if="errors.shares_from" class="error">{{ errors.shares_from[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.shares_to" :style="{ borderColor: errors.shares_to ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Share No. To</label>
                              <span v-if="errors.shares_to" class="error">{{ errors.shares_to[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="date" class="w-100 sty-inp" v-model="formData.shares_transfer_date" :style="{ borderColor: errors.shares_transfer_date ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Share Transfer Date</label>
                              <span v-if="errors.shares_transfer_date" class="error">{{ errors.shares_transfer_date[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.total_amount_received" :style="{ borderColor: errors.total_amount_received ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Total Amount Received</label>
                              <span v-if="errors.total_amount_received" class="error">{{ errors.total_amount_received[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="date" class="w-100 sty-inp" v-model="formData.total_amount_date" :style="{ borderColor: errors.total_amount_date ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Total Amount Received On</label>
                              <span v-if="errors.total_amount_date" class="error">{{ errors.total_amount_date[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.transfer_from_folio_no" :style="{ borderColor: errors.transfer_from_folio_no ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Transfer from Folio Number</label>
                              <span v-if="errors.transfer_from_folio_no" class="error">{{ errors.transfer_from_folio_no[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <div class="w-100 sty-input-wrapper">
                              <input type="number" class="w-100 sty-inp" v-model="formData.transfer_to_folio_no" :style="{ borderColor: errors.transfer_to_folio_no ? '#dc3545' : '' }">
                              <label for="" class="sty-label">Transfer to Folio Number</label>
                              <span v-if="errors.transfer_to_folio_no" class="error">{{ errors.transfer_to_folio_no[0] }}</span>
                              <span v-else></span>
                          </div>
                      </div>
                    </div>
                    <input type="button" class="add-mem-btn" value="Save & Next" @click="submitSharesForm">
                  </form>
                  {% endverbatim %}
                </div>
                <p id="hLoan"></p>
            </fieldset>

            <fieldset>
              <div>
                {% verbatim %}
                <form enctype="multipart/form-data">
                  <div class="row">

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <select class="w-100 sty-inp form-control" v-model="formData.wing_flat" :style="{ borderColor: errors.wing_flat ? '#dc3545' : '' }">
                          <option value="">Select Block</option>
                          <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                          <option v-if="units.length === 0" value="">All flats have their home loan added, which has members.</option>
                        </select>
                        <label class="sty-label">Wing & Flat No.</label>
                        <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="text" class="w-100 sty-inp" v-model="formData.bank_loan_name" :style="{ borderColor: errors.bank_loan_name ? '#dc3545' : '' }">
                        <label class="sty-label">Hypothication Bank Name</label>
                        <span v-if="errors.bank_loan_name" class="error">{{ errors.bank_loan_name[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="text" class="w-100 sty-inp" v-model="formData.bank_loan_object" :style="{ borderColor: errors.bank_loan_object ? '#dc3545' : '' }">
                        <label class="sty-label">Object of Loan</label>
                        <span v-if="errors.bank_loan_object" class="error">{{ errors.bank_loan_object[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="date" class="w-100 sty-inp" v-model="formData.bank_loan_date" :style="{ borderColor: errors.bank_loan_date ? '#dc3545' : '' }">
                        <label class="sty-label">Loan Issue Date</label>
                        <span v-if="errors.bank_loan_date" class="error">{{ errors.bank_loan_date[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="number" class="w-100 sty-inp" v-model="formData.bank_loan_value" :style="{ borderColor: errors.bank_loan_value ? '#dc3545' : '' }">
                        <label class="sty-label">Loan Value</label>
                        <span v-if="errors.bank_loan_value" class="error">{{ errors.bank_loan_value[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="number" class="w-100 sty-inp" v-model="formData.bank_loan_acc_no" :style="{ borderColor: errors.bank_loan_acc_no ? '#dc3545' : '' }">
                        <label class="sty-label">Account Number</label>
                        <span v-if="errors.bank_loan_acc_no" class="error">{{ errors.bank_loan_acc_no[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="number" class="w-100 sty-inp" v-model="formData.bank_loan_installment" :style="{ borderColor: errors.bank_loan_installment ? '#dc3545' : '' }">
                        <label class="sty-label">Installment</label>
                        <span v-if="errors.bank_loan_installment" class="error">{{ errors.bank_loan_installment[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <select class="w-100 sty-inp form-control" v-model="formData.bank_loan_status" @change="loanStatus($event)" :style="{ borderColor: errors.bank_loan_status ? '#dc3545' : '' }">
                          <option value="active">Active</option>
                          <option value="closed">Inactive</option>
                        </select>
                        <label class="sty-label">Loan Status</label>
                        <span v-if="errors.bank_loan_status" class="error">{{ errors.bank_loan_status[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3" v-if="attach_noc">
                      <div class="w-100 sty-input-wrapper">
                        <input type="file" class="w-100 sty-inp form-control" ref="bank_noc_file" :style="{ borderColor: errors.bank_noc_file || bank_noc_file_error ? '#dc3545' : '' }">
                        <label class="sty-label">Attach NOC</label>
                        <span v-if="errors.bank_noc_file" class="error">{{ errors.bank_noc_file[0] }}</span>
                        <span v-if="bank_noc_file_error" class="error">{{ bank_noc_file_error }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="text" class="w-100 sty-inp" v-model="formData.bank_loan_remark" :style="{ borderColor: errors.bank_loan_remark ? '#dc3545' : '' }">
                        <label class="sty-label">Remark</label>
                        <span v-if="errors.bank_loan_remark" class="error">{{ errors.bank_loan_remark[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                  </div>
                  <input type="button" class="add-mem-btn" value="Save & Next" @click="submitHomeLoanForm">
                </form>
                {% endverbatim %}
              </div>
              <p id="redirectToGst"></p>
            </fieldset>

            <fieldset>
              <div>
                {% verbatim %}
                <form enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <select class="w-100 sty-inp form-control" v-model="formData.wing_flat">
                          <option value="">Select Block</option>
                          <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                          <option v-if="units.length === 0" value="">All flats have their gst added, which has members.</option>
                        </select>
                        <label class="sty-label">Wing & Flat No.</label>
                        <span v-if="errors.wing_flat" class="error">{{ errors.wing_flat[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="text" class="w-100 sty-inp" v-model="formData.gst_number" />
                        <label for="id_gst_number" class="sty-label">GST Number</label>
                        <span v-if="errors.gst_number" class="error">{{ errors.gst_number[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <select class="w-100 sty-inp" v-model="formData.gst_state" style="background-color: white;">
                          <option value="">Select State</option>
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Odisha">Odisha</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="Uttarakhand">Uttarakhand</option>
                          <option value="West Bengal">West Bengal</option>
                          <option value="Andaman and Nicobar ">Andaman and Nicobar </option>
                          <option value="Islands">Islands</option>
                          <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Ladakh">Ladakh</option>
                          <option value="Lakshadweep">Lakshadweep</option>
                          <option value="Puducherry">Puducherry</option>
                        </select>
                        <label for="" class="sty-label">Select State</label>
                        <span v-if="errors.gst_state" class="error">{{ errors.gst_state[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="text" class="w-100 sty-inp" v-model="formData.gst_billing_name" />
                        <label for="id_gst_billing_name" class="sty-label">Billing Name</label>
                        <span v-if="errors.gst_billing_name" class="error">{{ errors.gst_billing_name[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <textarea class="w-100 sty-inp form-control" cols="30" rows="1" v-model="formData.gst_billing_address"></textarea>
                        <label for="id_gst_billing_address" class="sty-label">Billing Address</label>
                        <span v-if="errors.gst_billing_address" class="error">{{ errors.gst_billing_address[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                      <div class="w-100 sty-input-wrapper">
                        <input type="number" class="w-100 sty-inp" v-model="formData.gst_contact_no" />
                        <label for="id_gst_contact_no" class="sty-label">Contact Number</label>
                        <span v-if="errors.gst_contact_no" class="error">{{ errors.gst_contact_no[0] }}</span>
                        <span v-else></span>
                      </div>
                    </div>
                  </div>

                  <input type="button" class="add-mem-btn" value="Save & Next" @click="submitGSTForm">
                </form>
                {% endverbatim %}
              </div>
              <p id="addGstNext"></p>
            </fieldset>

            <fieldset>
              <div>
                {% verbatim %}
                <form enctype="multipart/form-data">
                  <div class="col-lg-4 mb-3">
                    <div class="mb-2 w-100 sty-input-wrapper">
                        <select class="w-100 sty-inp form-control" v-model="formData.wing_flat" :style="{ borderColor: vehicleBlockError ? '#dc3545' : '' }">
                          <option value="">Select Block</option>
                          <option v-for="unit in units" :value="unit[0]">{{ unit[1] }}</option>
                          <option v-if="units.length === 0" value="">All flats have vehicle added, which has members.</option>
                        </select>
                        <label class="sty-label">Wing & Flat No.</label>
                        <span v-if="vehicleBlockError" class="error">{{ vehicleBlockError }}</span>
                        <span v-else></span>
                    </div>
                  </div>

                  <div v-for="(form, index) in forms" :key="index">
                    <h4>Vehicle {{ getFormNumber(index) }}</h4>

                    <div class="row p-2 mt-2">
                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="form.parking_lot" :style="{ borderColor: vehicleError[index] && vehicleError[index].parking_lot ? '#dc3545' : '' }">
                          <label for="id_parking_lot0" class="sty-label">Parking Lot</label>
                          <span v-if="vehicleError[index] && vehicleError[index].parking_lot" class="error">{{ vehicleError[index].parking_lot }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="form.vehicle_type" :style="{ borderColor: vehicleError[index] && vehicleError[index].vehicle_type ? '#dc3545' : '' }">
                          <label for="id_vehicle_type0" class="sty-label">Vehicle Type</label>
                          <span v-if="vehicleError[index] && vehicleError[index].vehicle_type" class="error">{{ vehicleError[index].vehicle_type }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="form.vehicle_number" :style="{ borderColor: vehicleError[index] && vehicleError[index].vehicle_number ? '#dc3545' : '' }">
                          <label for="id_vehicle_number0" class="sty-label">Vehicle Number</label>
                          <span v-if="vehicleError[index] && vehicleError[index].vehicle_number" class="error">{{ vehicleError[index].vehicle_number }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp" v-model="form.vehicle_brand" :style="{ borderColor: vehicleError[index] && vehicleError[index].vehicle_brand ? '#dc3545' : '' }">
                          <label for="id_vehicle_brand0" class="sty-label">Brand & Model</label>
                          <span v-if="vehicleError[index] && vehicleError[index].vehicle_brand" class="error">{{ vehicleError[index].vehicle_brand }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="file" class="w-100 sty-inp form-control" :ref="'rc_copy_' + index" :style="{ borderColor: vehicleRcCopy ? '#dc3545' : '' }">
                          <label for="" class="sty-label">RC Copy</label>
                          <span v-if="vehicleRcCopy" class="error">{{ vehicleRcCopy }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp form-control" v-model="form.sticker_number" :style="{ borderColor: vehicleError[index] && vehicleError[index].sticker_number ? '#dc3545' : '' }">
                          <label for="" class="sty-label">Sticker Number</label>
                          <span v-if="vehicleError[index] && vehicleError[index].sticker_number" class="error">{{ vehicleError[index].sticker_number }}</span>
                          <span v-else></span>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3">
                        <div class="w-100 sty-input-wrapper">
                          <select class="w-100 sty-inp form-control" v-model="form.select_charge">
                            <option value="">YES / NO</option>
                            <option value="no">NO</option>
                            <option value="yes">YES</option>
                          </select>
                          <label class="sty-label">Vehicle Chargeable</label>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-3" v-if="form.select_charge === 'yes'">
                        <div class="w-100 sty-input-wrapper">
                          <input type="text" class="w-100 sty-inp form-control" v-model="form.chargable" :style="{ borderColor: vehicleError[index] && vehicleError[index].chargable ? '#dc3545' : '' }">
                          <label class="sty-label">Charge Amount</label>
                          <span v-if="vehicleError[index] && vehicleError[index].chargable" class="error">{{ vehicleError[index].chargable }}</span>
                          <span v-else></span>
                        </div>
                      </div>


                      <div class="col-lg-4 mb-4 gap-3 align-items-left" v-if="index !== 0">
                          <span @click.prevent="removeForm(index)"><i class="fa-solid fa-trash-can text-danger"></i></span>
                      </div>
                    </div>

                  </div>
                  <hr>
                  <span @click.prevent="addForm" class="add-mem-btn float-start">Add Form</span>
                  <input type="button" class="add-mem-btn" @click="submitVehicle" value="Save & Finish">
                </form>
                {% endverbatim %}
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let datatable_columns = {{ datatable_columns }};
</script>

{% endblock body %}