{% extends 'base.html' %}
{% load static %}

{% block title %}  <title>Society Management | Society-Creation</title> {% endblock title %}

{% block body %}
    <!-- page content -->
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10 col-md-11 col-lg-11 col-xl-10 text-center p-0 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-1 mb-3">
                        <h2 id="heading">Society Creation</h2>
                        <p>Fill all form field to go to next step</p>
                        <div id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar" class="col-8 ms-auto me-auto" style="padding: 0 !important;">
                                <li class="active" id="account"><strong>Create Society</strong></li>
                                <li id="personal"><strong>Bank Details</strong></li>
                                <li id="payment"><strong>Documents</strong></li>
                                <li id="confirm"><strong>Create Wing / Unit</strong></li>
                            </ul>

                            <fieldset>
                                <div id="addSociety">
                                    {% verbatim %}
                                    <form enctype="multipart/form-data">
                                        <div class="row p-2">
                                            <div class="col-lg-4">
                                                <div class="mb-3 w-100 sty-input-wrapper">
                                                    <input class="w-100 sty-inp" type="text" v-model="formData.society_name" :style="{ borderColor: errors.society_name ? '#dc3545' : '' }">
                                                    <label class="sty-label">Society Name</label>
                                                    <span v-if="errors.society_name" class="error">{{ errors.society_name[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3 w-100 sty-input-wrapper">
                                                    <input class="w-100 sty-inp" type="text" v-model="formData.admin_email" :style="{ borderColor: errors.admin_email ? '#dc3545' : '' }">
                                                    <label class="sty-label"> Administrator Email
                                                    </label>
                                                    <span v-if="errors.admin_email" class="error">{{ errors.admin_email[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3 w-100 sty-input-wrapper">
                                                     <input class="w-100 sty-inp" type="text" v-model="formData.alternate_email" :style="{ borderColor: errors.alternate_email ? '#dc3545' : '' }">
                                                    <label class="sty-label">Alternate Email</label>
                                                    <span v-if="errors.alternate_email" class="error">{{ errors.alternate_email[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="mb-2">
                                                    <div class="input-group">
                                                        <div class="firstinp w-50 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="text" style="text-transform:uppercase" id="id_registration_number" v-model="formData.registration_number" :style="{ borderColor: errors.registration_number ? '#dc3545' : '' }">
                                                            <label for="id_registration_number" class="sty-label">Registration Number</label>
                                                            <span v-if="errors.registration_number" class="error">{{ errors.registration_number[0] }}</span>
                                                            <span v-else></span>
                                                        </div>
                                                        <div class="secinp w-50 d-flex">
                                                                <div class="fileinp">
                                                                    <input type="file" id="id_registration_doc" class="sty-inp form-control" style="color: #2b96f1 !important;" ref="registration_doc" :style="{ borderColor: errors.registration_doc ? '#dc3545' : '' }" />
                                                                    <span v-if="errors.registration_doc" class="error">{{ errors.registration_doc[0] }}</span>
                                                                    <span v-else></span>
                                                                </div>
                                                                <div class="prev">
                                                                    <button type="button" class="sty-inp form-control"
                                                                        onclick="PreviewImage('id_registration_doc')">
                                                                        <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                                    </button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3 sty-input-wrapper w-100">

                                                    <input class="w-100 sty-inp" type="number" v-model="formData.admin_mobile_number" :style="{ borderColor: errors.admin_mobile_number ? '#dc3545' : '' }">
                                                    <label class="sty-label">Administrator Mobile Number</label>
                                                    <span v-if="errors.admin_mobile_number" class="error">{{ errors.admin_mobile_number[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-8">
                                                <div class="mb-2">
                                                    <div class="input-group">
                                                        <div class="firstinp w-50 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="text" style="text-transform:uppercase" v-model="formData.pan_number" :style="{ borderColor: errors.pan_number ? '#dc3545' : '' }">
                                                            <label class="sty-label">PAN Number</label>
                                                            <span v-if="errors.pan_number" class="error">{{ errors.pan_number[0] }}</span>
                                                            <span v-else></span>
                                                        </div>
                                                        <div class="secinp w-50 d-flex">
                                                                <div class="fileinp">
                                                                    <input type="file" id="id_pan_number_doc" class="sty-inp form-control" style="color: #2b96f1 !important;" ref="pan_number_doc" :style="{ borderColor: errors.pan_number_doc ? '#dc3545' : '' }" />
                                                                    <span v-if="errors.pan_number_doc" class="error">{{ errors.pan_number_doc[0] }}</span>
                                                                    <span v-else></span>
                                                                </div>
                                                                <div class="prev">
                                                                    <button type="button" class="sty-inp form-control"
                                                                        onclick="PreviewImage('id_pan_number_doc')">
                                                                        <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                                    </button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3 w-100 sty-input-wrapper">
                                                    <input class="sty-inp w-100" type="number" v-model="formData.alternate_mobile_number" :style="{ borderColor: errors.alternate_mobile_number ? '#dc3545' : '' }">
                                                    <label class="sty-label">Alternate Mobile Number</label>
                                                    <span v-if="errors.alternate_mobile_number" class="error">{{ errors.alternate_mobile_number[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="mb-2">
                                                    <div class="input-group">
                                                        <div class="firstinp w-50 sty-input-wrapper">
                                                            <input class="form-control sty-inp" type="text" style="text-transform:uppercase" v-model="formData.gst_number" :style="{ borderColor: errors.gst_number ? '#dc3545' : '' }" />
                                                            <label class="form-label sty-label">GST Number</label>
                                                            <span v-if="errors.gst_number" class="error">{{ errors.gst_number[0] }}</span>
                                                            <span v-else></span>
                                                        </div>
                                                        <div class="secinp w-50 d-flex">
                                                                <div class="fileinp">
                                                                    <input type="file" id="id_gst_number_doc" class="form-control sty-inp" style="color: #2b96f1 !important;" ref="gst_number_doc" :style="{ borderColor: errors.gst_number_doc ? '#dc3545' : '' }" />
                                                                    <span v-if="errors.gst_number_doc" class="error">{{ errors.gst_number_doc[0] }}</span>
                                                                    <span v-else></span>
                                                                </div>
                                                                <div class="prev">
                                                                    <button type="button" class="form-control sty-inp"
                                                                        onclick="PreviewImage('id_gst_number_doc')">
                                                                        <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                                    </button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4">
                                                <div class="mb-3 w-100 sty-input-wrapper">
                                                    <input class="w-100 sty-inp" type="number" v-model="formData.interest" :style="{ borderColor: errors.interest ? '#dc3545' : '' }" />
                                                    <label class="sty-label">Interest</label>
                                                    <span v-if="errors.interest" class="error">{{ errors.interest[0] }}</span>
                                                    <span v-else></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 mb-3">
                                                <div class="row">
                                                    <div class="col-lg-6  sty-input-wrapper">
                                                        <textarea v-model="formData.society_reg_address" class="w-100 sty-inp" cols="30" rows="1" :style="{ borderColor: errors.society_reg_address ? '#dc3545' : '' }"></textarea>
                                                        <label class="sty-label">Society's Registered Address</label>
                                                        <span v-if="errors.society_reg_address" class="error">{{ errors.society_reg_address[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <select class="w-100 sty-inp form-control" @change="getCity($event)" v-model="formData.socity_state" :style="{ borderColor: errors.socity_state ? '#dc3545' : '' }">
                                                            <option value="">Select State</option>
                                                            <option v-for="state in states" :value="state.iso2">{{ state.name }}</option>
                                                        </select>
                                                        <label class="sty-label">State</label>
                                                        <span v-if="errors.socity_state" class="error">{{ errors.socity_state[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <select class="w-100 sty-inp form-control" @change() v-model="formData.society_city" :style="{ borderColor: errors.society_city ? '#dc3545' : '' }">
                                                            <option value="">Select City</option>
                                                            <option v-for="city in cities" :value="city.id">{{ city.name }}</option>
                                                        </select>
                                                        <label class="sty-label">City</label>
                                                        <span v-if="errors.society_city" class="error">{{ errors.society_city[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <input type="number" class="w-100 sty-inp" v-model="formData.pin_code" :style="{ borderColor: errors.pin_code ? '#dc3545' : '' }">
                                                        <label class="sty-label">Pin Code</label>
                                                        <span v-if="errors.pin_code" class="error">{{ errors.pin_code[0] }}</span>
                                                        <span v-else></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-2">
                                                <div class="row">
                                                    <div class="col-lg-6 sty-input-wrapper">
                                                        <textarea v-model="formData.society_corr_reg_address" class="w-100 sty-inp" cols="30" rows="1"></textarea>
                                                        <label class="sty-label">Society's Correspondence Address</label>
                                                        <span v-if="errors.society_corr_reg_address" class="error">{{ errors.society_corr_reg_address[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <select class="w-100 sty-inp form-control" @change="getCorrCity($event)" v-model="formData.socity_corr_state" :style="{ borderColor: errors.socity_corr_state ? '#dc3545' : '' }">
                                                            <option value="">Select State</option>
                                                            <option v-for="corr_state in corr_states" :value="corr_state.iso2">{{ corr_state.name }}</option>
                                                        </select>
                                                        <label for="id_socity_corr_state" class="sty-label">State</label>
                                                        <span v-if="errors.socity_corr_state" class="error">{{ errors.socity_corr_state[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <select class="w-100 sty-inp form-control" v-model="formData.society_corr_city" :style="{ borderColor: errors.society_corr_city ? '#dc3545' : '' }">
                                                            <option value="">Select City</option>
                                                            <option v-for="corr_city in corr_cities" :value="corr_city.iso2">{{ corr_city.name }}</option>
                                                        </select>
                                                        <label for="society_corr_city" class="sty-label">City</label>
                                                        <span v-if="errors.society_corr_city" class="error">{{ errors.society_corr_city[0] }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-2 sty-input-wrapper">
                                                        <input type="number" class="w-100 sty-inp" v-model="formData.pin_corr_code" :style="{ borderColor: errors.pin_corr_code ? '#dc3545' : '' }">
                                                        <label for="id_pin_corr_code" class="sty-label">Pin Code</label>
                                                        <span v-if="errors.pin_corr_code" class="error">{{ errors.pin_corr_code[0] }}</span>
                                                        <span v-else></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <input type="button" name="next" class="action-button" value="Save & Next" @click="addSocietyForm" />
                                    </form>
                                    {% endverbatim %}
                                </div>
                                <p id="nextBtn"></p>
                            </fieldset>

                            <fieldset>
                                <div id="bankContainer">
                                    {% verbatim %}
                                        <form enctype="multipart/form-data">
                                            <div v-for="(form, index) in forms" :key="index">
                                                <h4>Bank {{ getFormNumber(index) }}</h4>

                                                <div class="row p-2 mt-2">
                                                    <div class="col-lg-4 mb-3">
                                                        <div class="mb-2 w-100 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="text" v-model="form.beneficiary_name" :style="{ borderColor: hasError(index, 'beneficiary_name') ? '#dc3545' : '' }">
                                                            <label class="sty-label">Beneficiary Name</label>
                                                            <span class="error" v-if="hasError(index, 'beneficiary_name')">{{ getError(index, 'beneficiary_name') }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 mb-3">
                                                        <div class="mb-2 w-100 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="text" v-model="form.beneficiary_code" :style="{ borderColor: hasError(index, 'beneficiary_code') ? '#dc3545' : '' }">
                                                            <label class="sty-label">Beneficiary IFSC Code</label>
                                                            <span class="error" v-if="hasError(index, 'beneficiary_code')">{{ getError(index, 'beneficiary_code') }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 mb-3">
                                                        <div class="mb-2 w-100 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="number" v-model="form.beneficiary_acc_number" :style="{ borderColor: hasError(index, 'beneficiary_acc_number') ? '#dc3545' : '' }">
                                                            <label class="sty-label">Beneficiary Account Number</label>
                                                            <span class="error" v-if="hasError(index, 'beneficiary_acc_number')">{{ getError(index, 'beneficiary_acc_number') }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 mb-3">
                                                        <div class="mb-2 w-100 sty-input-wrapper">
                                                            <input class="w-100 sty-inp" type="text" v-model="form.beneficiary_bank" :style="{ borderColor: hasError(index, 'beneficiary_bank') ? '#dc3545' : '' }">
                                                            <label class="sty-label">Beneficiary Bank Name & Branch</label>
                                                            <span class="error" v-if="hasError(index, 'beneficiary_bank')">{{ getError(index, 'beneficiary_bank') }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 mb-4 gap-3 align-items-center">
                                                        <input type="checkbox" class="sty-inp" v-model="form.is_primary"/>
                                                        <label>Make this Primary</label>
                                                        <span class="error" v-if="hasError(index, 'is_primary')">{{ getError(index, 'is_primary') }}</span>
                                                        <span class="error" v-if="singlePrimaryError">{{ singlePrimaryError }}</span>
                                                    </div>
                                                    <div class="col-lg-4 mb-4 gap-3 align-items-center mt-1" style="font-size: 18px;" v-if="index !== 0">
                                                        <span @click.prevent="removeForm(index)"><i class="fa-solid fa-trash-can text-danger"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <span @click.prevent="addForm" class="add-mem-btn float-start">Add Another Bank</span>
                                            <input type="button" class="add-mem-btn" @click="submitBank" value="Save & Next">
                                        </form>
                                    {% endverbatim %}
                                </div>
                                <p id="nextBtn2"></p>
                            </fieldset>

                            <fieldset>
                                <div id="societyDocumentsVue">
                                    {% verbatim %}
                                        <form enctype="multipart/form-data">
                                            <div class="row p-2 mt-2">
                                                <div class="col-lg-4 mb-3 d-flex">

                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="file" class="w-100 sty-inp form-control" id="completion_cert" ref="completion_cert" @change="handleFileUpload($event, 'completion_cert')" :style="{ borderColor: required_docs_errors.completion_cert ? '#dc3545' : '' }">
                                                        <label for="" class="sty-label">Completion Certificate</label>
                                                        <span v-if="required_docs_errors.completion_cert" class="error">{{ required_docs_errors.completion_cert[0] }}</span>
                                                        <span v-else></span>
                                                    </div>
                                                    <div class="prev">
                                                        <button type="button" class="sty-inp form-control"
                                                            onclick="PreviewImage('completion_cert')">
                                                            <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 mb-3 d-flex">
                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="file" id="occupancy_cert" class="w-100 sty-inp form-control" ref="occupancy_cert" @change="handleFileUpload($event, 'occupancy_cert')" :style="{ borderColor: required_docs_errors.occupancy_cert ? '#dc3545' : '' }">
                                                        <label for="" class="sty-label">Occupancy Certificate</label>
                                                        <span v-if="required_docs_errors.occupancy_cert" class="error">{{ required_docs_errors.occupancy_cert[0] }}</span>
                                                    </div>
                                                    <div class="prev">
                                                        <button type="button" class="sty-inp form-control" onclick="PreviewImage('occupancy_cert')">
                                                            <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 mb-3 d-flex">
                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="file" class="w-100 sty-inp form-control" id="deed_of_conveyance" ref="deed_of_conveyance" @change="handleFileUpload($event, 'deed_of_conveyance')" :style="{ borderColor: required_docs_errors.deed_of_conveyance ? '#dc3545' : '' }">
                                                        <label for="" class="sty-label">Deed of Conveyance</label>
                                                        <span v-if="required_docs_errors.deed_of_conveyance" class="error">{{ required_docs_errors.deed_of_conveyance[0] }}</span>
                                                    </div>
                                                    <div class="prev">
                                                        <button type="button" class="sty-inp form-control"
                                                            onclick="PreviewImage('deed_of_conveyance')">
                                                            <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 mb-3 d-flex">
                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="file" id="society_by_law" class="w-100 sty-inp form-control" ref="society_by_law" @change="handleFileUpload($event, 'society_by_law')" :style="{ borderColor: required_docs_errors.society_by_law ? '#dc3545' : '' }">
                                                        <label for="" class="sty-label">Society Bye Laws</label>
                                                        <span v-if="required_docs_errors.society_by_law" class="error">{{ required_docs_errors.society_by_law[0] }}</span>
                                                    </div>
                                                    <div class="prev">
                                                        <button type="button" class="sty-inp form-control"
                                                            onclick="PreviewImage('society_by_law')">
                                                            <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-3 d-flex">

                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="file" class="w-100 sty-inp form-control" id="soc_other_document_spec" ref="soc_other_document" @change="handleFileUpload($event, 'soc_other_document')">
                                                        <label for="" class="sty-label">Other Documents</label>
                                                        <span v-if="required_docs_errors.soc_other_document" class="error">{{ required_docs_errors.soc_other_document[0] }}</span>
                                                    </div>
                                                    <div class="w-100 sty-input-wrapper">
                                                        <input type="text" class="w-100 sty-inp" v-model="formData.soc_other_document_spec" @change="handleFileUpload($event, 'soc_other_document_spec')" />
                                                        <label for="" class="sty-label">Specify your Document</label>
                                                        <span v-if="required_docs_errors.soc_other_document_spec" class="error">{{ required_docs_errors.soc_other_document_spec[0] }}</span>
                                                    </div>
                                                    <div class="prev">
                                                        <button type="button" class="sty-inp form-control"
                                                            onclick="PreviewImage('soc_other_document_spec')">
                                                            <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <form v-if="showForm" enctype="multipart/form-data">
                                            <div v-for="(form, index) in forms" :key="index">
                                                <h4>Document {{ getFormNumber(index) }}</h4>

                                                <div class="row p-2 mt-2">
                                                    <div class="d-flex isVisible">
                                                        <div class="sty-input-wrapper">
                                                            <input type="file" class="sty-inp form-control" :ref="'other_document_' + index" :style="{ borderColor: otherDocError[index] && otherDocError[index].other_document ? '#dc3545' : '' }">
                                                            <label class="sty-label">Other Document</label>
                                                            <span v-if="otherDocError[index] && otherDocError[index].other_document" class="error">{{ otherDocError[index].other_document }}</span>
                                                            <span v-else></span>
                                                        </div>
                                                        <div class="sty-input-wrapper">
                                                            <input type="text" class="sty-inp form-control" :id="'other_document_specification_' + index" v-model="form.other_document_specification" :style="{ borderColor: otherDocError[index] && otherDocError[index].other_document_specification ? '#dc3545' : '' }">
                                                            <label class="sty-label">Specify your Document</label>
                                                            <span v-if="otherDocError[index] && otherDocError[index].other_document_specification" class="error">{{ otherDocError[index].other_document_specification }}</span>
                                                            <span v-else></span>
                                                        </div>
                                                        <div class="prev">
                                                            <button type="button" class="sty-inp form-control"
                                                                onclick="PreviewImage('other_document_specification_' + 'index')">
                                                                <i class="fa-solid fa-eye" style="color: #2b96f1 !important;"></i>
                                                            </button>
                                                        </div>
                                                        <button class="sty-inp mb-4 ms-2" style="background: transparent;" @click.prevent="removeForm(index)" v-if="index !== 0">
                                                            <svg class="svg-inline--fa fa-trash-can" style="color: #dc3545 !important;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-can" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                                                <path fill="currentColor" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <input type="button" class="add-mem-btn" @click="submitBothDocs" value="Save & Next">
                                        <span @click.prevent="addForm" class="add-mem-btn float-start" @click="showFormMethod">Add Other Document</span>
                                    {% endverbatim %}
                                </div>
                                <p id="nextBtn3"></p>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="wing-info" style="text-align: left;">
                                        <p style="color: #616161;">As a first Step to set up your Complex, create blocks of your Apartment Complex below
                                            .Please Note: <br></p>
                                        <ul style="list-style:none;" id="blockList">
                                            <li>
                                                Blocks are also referred as Towers / Buildings in some apartment Complexes.
                                            </li>
                                            <li>
                                                Even incase your complex does not have blocks, you need to create atleast one block
                                                (you can call the block "Flat").
                                            </li>
                                            <li class="more-content">
                                                Do note that each block name must be different and should be less than 30 characters
                                                in length.
                                            </li>
                                            <li class="more-content">
                                                If you have multiple wings in each tower - create one block per tower-wing
                                                combination. <br> For example: Tower 1 - A wing, Tower 1 - B wing, etc...
                                            </li>
                                            <li class="more-content">
                                                You can always add more blocks here.
                                            </li>
                                            <span class="more" onclick="showMore()">Show More</span>
                                            <span class="less" onclick="showLess()">Show Less</span>
                                        </ul>
                                    </div>

                                    <div id="wingCreation">
                                        {% verbatim %}
                                        <form enctype="multipart/form-data">
                                            <div v-for="(form, index) in forms" :key="index">
                                                <h4>Block {{ getFormNumber(index) }}</h4>

                                                <div class="row mb-3">
                                                    <div class="col-lg-3 sty-input-wrapper">
                                                        <input class="w-100 sty-inp" type="text" style="text-transform:uppercase" v-model="form.wing_name" :style="{ borderColor: blockError[index] && blockError[index].wing_name? '#dc3545' : '' }">
                                                        <label for="" class="sty-label">Wing Name</label>
                                                        <span v-if="blockError[index] && blockError[index].wing_name" class="error">{{ blockError[index].wing_name }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-5 sty-input-wrapper">
                                                        <textarea class="w-100 sty-inp" cols="30" rows="1" v-model="form.flat_number" :style="{ borderColor: blockError[index] && blockError[index].flat_number ? '#dc3545' : '' }"></textarea>
                                                        <label for="" class="sty-label">Flat Numbers</label>
                                                        <span v-if="blockError[index] && blockError[index].flat_number" class="error">{{ blockError[index].flat_number }}</span>
                                                        <span v-else></span>
                                                    </div>

                                                    <div class="col-lg-1 mt-1" style="font-size: 21px;" v-if="index !== 0">
                                                        <span @click.prevent="removeForm(index)"><i class="fa-solid fa-trash-can text-danger"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr>
                                            <span @click.prevent="addForm" class="add-mem-btn float-start">Add Block</span>
                                            <input type="button" class="add-mem-btn" @click="submitWingFlat" value="Save & Finish">
                                        </form>
                                        {% endverbatim %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    let datatable_columns = {{ datatable_columns }};
</script>
{% endblock body %}