{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Society Management | Member-Master-Creation</title> {% endblock title %}

{% block body %}


<!-- <div id="exTab2" class="container">

    <div>
        <ul class="nav nav-tabs circular-tabs w-100 ms-auto me-auto">
            <hr style="z-index: -1; width: 100%; top: 45px !important; position: relative; left: 0%;">
            <li class="active" data-bs-toggle="tooltip" title="Purchase Voucher"><a href="#1" data-toggle="tab"><i class="fa-solid fa-p"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#2" data-toggle="tab"><i class="fa-solid fa-s"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#3" data-toggle="tab"><i class="fa-solid fa-j"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#4" data-toggle="tab"><i class="fa-solid fa-e"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#4" data-toggle="tab"><i class="fa-solid fa-i"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#4" data-toggle="tab"><i class="fa-solid fa-p"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
            <li class=""><a href="#4" data-toggle="tab"><i class="fa-solid fa-r"></i>&nbsp;<i class="fa-solid fa-v"></i></a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div class="container mt-4">
                <form action="">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <select class="w-100 sty-inp form-control" name="" id="">
                                    <option value="">Voucher 1</option>
                                    <option value="">Voucher 2</option>
                                </select>
                                <label class="sty-label" for="">Voucher Type</label>
                            </div>
                        </div>
    
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <input class="sty-inp form-control" type="text" name="" id="">
                                <label class="sty-label" for="">Voucher Number</label>
                            </div>
                        </div>
    
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <input class="sty-inp form-control w-100" type="text" name="" id="">
                                <label class="sty-label" for="">Vendor Name</label>
                            </div>
                        </div>
    
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <input class="sty-inp form-control w-100" type="date" name="" id="">
                                <label class="sty-label" for="">Booking Date</label>
                            </div>
                        </div>
    
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <input class="sty-inp form-control w-100" type="date" name="" id="">
                                <label class="sty-label" for="">Invoice Date</label>
                            </div>
                        </div>
    
                        <div class="col-lg-4 mb-3">
                            <div class="sty-input-wrapper w-100">
                                <input class="sty-inp form-control w-100" type="text" name="" id="">
                                <label class="sty-label" for="">Vendor Invoice Number</label>
                            </div>
                        </div>

                        <hr class="mt-1 mb-3">

                        <div class="col-12" id="purchases">
                            <div v-for="(item, index) in purchases" :key="index">
                                <div class="row" :id="'purchase' + (index + 1)">
                                    <div class="col-4 mb-3">
                                        <div class="sty-input-wrapper w-100">
                                            <input class="sty-inp form-control w-100" type="text" name="" :id="'product' + (index + 1)">
                                            <label class="sty-label" for="">Purchase</label>
                                        </div>
                                    </div>
    
                                    <div class="col-2 mb-3">
                                        <div class="sty-input-wrapper w-100">
                                            <input class="sty-inp form-control w-100" type="number" name="" :id="'quantity' + (index + 1)">
                                            <label class="sty-label" for="">Quantity</label>
                                        </div>  
                                    </div>
    
                                    <div class="col-2 mb-3">
                                        <div class="sty-input-wrapper w-100">
                                            <input class="sty-inp form-control w-100" type="text" name="" :id="'rate' + (index + 1)">
                                            <label class="sty-label" for="">Rate</label>
                                        </div>  
                                    </div>
    
                                    <div class="col-2 mb-3">
                                        <div class="sty-input-wrapper w-100">
                                            <input class="sty-inp form-control w-100" type="number" name="" v-model="item.account" :id="'amount' + (index + 1)">
                                            <label class="sty-label" for="">Amount</label>
                                        </div>
                                    </div>
    
                                    <div class="col-2 mb-3">
                                        <button class="btn btn-primary" @click="openModal(item.account)" type="button">Add Cost Center</button>  
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-3" style="justify-content: space-between;">
                                <button class="btn btn-primary" @click="addMore" type="button">Add More</button>
                                <div class=" sty-input-wrapper me-3">
                                    <input class="sty-inp" type="number" name="" id="">
                                    <label for="" class="sty-label">Total Amount</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="addCostCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Add Cost Center</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  
                                  <div class="form-group">
                                    <label for="costCenter">Cost Center</label>
                                    <input type="text" class="form-control" id="costCenter">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                    </div>
                </form>
            </div>
        </div>

        <div class="tab-pane" id="2">
            <h1>Ahemdabad</h1>
        </div>

        <div class="tab-pane" id="3">
            <h1>Kerala</h1>
        </div>

        <div class="tab-pane" id="4">
            <h1>Mumbai</h1>
        </div>
    </div>
</div> -->

<div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: flex; justify-content: center;">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" style="font-family: 'Calibri', sans-serif;" id="purchase-tab" data-bs-toggle="tab" data-bs-target="#purchase-tab-pane" type="button" role="tab" aria-controls="purchase-tab-pane" aria-selected="true">Purchase Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="sale-tab" data-bs-toggle="tab" data-bs-target="#sale-tab-pane" type="button" role="tab" aria-controls="sale-tab-pane" aria-selected="false">Sale Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="journal-tab" data-bs-toggle="tab" data-bs-target="#journal-tab-pane" type="button" role="tab" aria-controls="journal-tab-pane" aria-selected="false">Journal Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="expense-tab" data-bs-toggle="tab" data-bs-target="#expense-tab-pane" type="button" role="tab" aria-controls="expense-tab-pane" aria-selected="false">Expense Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="income-tab" data-bs-toggle="tab" data-bs-target="#income-tab-pane" type="button" role="tab" aria-controls="income-tab-pane" aria-selected="false">Income Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment-tab-pane" type="button" role="tab" aria-controls="payment-tab-pane" aria-selected="false">Payment Voucher</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" style="font-family: 'Calibri', sans-serif;" id="receipt-tab" data-bs-toggle="tab" data-bs-target="#receipt-tab-pane" type="button" role="tab" aria-controls="receipt-tab-pane" aria-selected="false">Receipt Voucher</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="purchase-tab-pane" role="tabpanel" aria-labelledby="purchase-tab" tabindex="0">
        <div class="container shadow pt-4">
            <form action="">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <select class="w-100 sty-inp form-control" name="" id="">
                                <option value="">Voucher 1</option>
                                <option value="">Voucher 2</option>
                            </select>
                            <label class="sty-label" for="">Voucher Type</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control" type="text" name="" id="">
                            <label class="sty-label" for="">Voucher Number</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Booking Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Name</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Invoice Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Invoice Number</label>
                        </div>
                    </div>

                    <hr class="mt-1 mb-3">

                    <div class="col-12" id="purchases">
                        <div v-for="(item, index) in purchases" :key="index">
                            <div class="row" :id="'purchase' + (index + 1)">
                                <div class="col-4 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'product' + (index + 1)">
                                        <label class="sty-label" for="">Ledger</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" :id="'quantity' + (index + 1)">
                                        <label class="sty-label" for="">Quantity</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'rate' + (index + 1)">
                                        <label class="sty-label" for="">Rate</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" v-model="item.account" :id="'amount' + (index + 1)">
                                        <label class="sty-label" for="">Amount</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <button class="btn btn-primary" @click="openModal(item.account)" type="button">Add Cost Center</button>  
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mt-3" style="justify-content: space-between;">
                            <button class="btn btn-primary" @click="addMore" type="button">Add More</button>
                            <div class=" sty-input-wrapper me-3">
                                <input class="sty-inp" type="number" name="" id="">
                                <label for="" class="sty-label">Total Amount</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp w-100 form-control" name="" id="">
                                    <label for="" class="sty-label">Amount in Words</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <textarea class="sty-inp w-100 form-control" name="" id="" cols="30" rows="1"></textarea>
                                    <label for="" class="sty-label">Narration</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1 mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Submit</button>
                    </div>

                    <div class="modal fade" id="addCostCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Cost Center</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!-- Your form fields for adding cost center here -->
                              <div class="form-group">
                                <label for="costCenter">Cost Center</label>
                                <input type="text" class="form-control" id="costCenter">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="sale-tab-pane" role="tabpanel" aria-labelledby="sale-tab" tabindex="0">
        <div class="container shadow pt-4">
            <form action="">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <select class="w-100 sty-inp form-control" name="" id="">
                                <option value="">Voucher 1</option>
                                <option value="">Voucher 2</option>
                            </select>
                            <label class="sty-label" for="">Voucher Type</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control" type="text" name="" id="">
                            <label class="sty-label" for="">Voucher Number</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Booking Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Name</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Invoice Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Invoice Number</label>
                        </div>
                    </div>

                    <hr class="mt-1 mb-3">

                    <div class="col-12" id="sales">
                        <div v-for="(item, index) in sales" :key="index">
                            <div class="row" :id="'sale' + (index + 1)">
                                <div class="col-4 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'sale' + (index + 1)">
                                        <label class="sty-label" for="">Ledger</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" :id="'sale_quantity' + (index + 1)">
                                        <label class="sty-label" for="">Quantity</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'sale_rate' + (index + 1)">
                                        <label class="sty-label" for="">Rate</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" v-model="item.amount" :id="'sale_amount' + (index + 1)">
                                        <label class="sty-label" for="">Amount</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <button class="btn btn-primary" @click="openModal(item.amount)" type="button">Add Cost Center</button>  
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mt-3" style="justify-content: space-between;">
                            <button class="btn btn-primary" @click="addSale" type="button">Add More</button>
                            <div class=" sty-input-wrapper me-3">
                                <input class="sty-inp" type="number" name="" id="">
                                <label for="" class="sty-label">Total Amount</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp w-100 form-control" name="" id="">
                                    <label for="" class="sty-label">Amount in Words</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <textarea class="sty-inp w-100 form-control" name="" id="" cols="30" rows="1"></textarea>
                                    <label for="" class="sty-label">Narration</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1 mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Submit</button>
                    </div>

                    <div class="modal fade" id="addSaleCostCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Cost Center</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!-- Your form fields for adding cost center here -->
                              <div class="form-group">
                                <label for="costCenter">Cost Center</label>
                                <input type="text" class="form-control" id="costCenter">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </form>
        </div>
    </div>

    <div class="tab-pane fade" id="journal-tab-pane" role="tabpanel" aria-labelledby="journal-tab" tabindex="0">...</div>
    
    <div class="tab-pane fade" id="expense-tab-pane" role="tabpanel" aria-labelledby="expense-tab" tabindex="0">
        <div class="container shadow pt-4">
            <form action="">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <select class="w-100 sty-inp form-control" name="" id="">
                                <option value="">Voucher 1</option>
                                <option value="">Voucher 2</option>
                            </select>
                            <label class="sty-label" for="">Voucher Type</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control" type="text" name="" id="">
                            <label class="sty-label" for="">Voucher Number</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Booking Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Name</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Invoice Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Invoice Number</label>
                        </div>
                    </div>

                    <hr class="mt-1 mb-3">

                    <div class="col-12" id="expenses">
                        <div v-for="(item, index) in expenses" :key="index">
                            <div class="row" :id="'expense' + (index + 1)">
                                <div class="col-4 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'expense_product' + (index + 1)">
                                        <label class="sty-label" for="">Ledger</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" :id="'expense_quantity' + (index + 1)">
                                        <label class="sty-label" for="">Quantity</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'expense_rate' + (index + 1)">
                                        <label class="sty-label" for="">Rate</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" v-model="item.expense_amount" :id="'expense_amount' + (index + 1)">
                                        <label class="sty-label" for="">Amount</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <button class="btn btn-primary" @click="openModal(item.expense_amount)" type="button">Add Cost Center</button>  
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mt-3" style="justify-content: space-between;">
                            <button class="btn btn-primary" @click="addExpense" type="button">Add More</button>
                            <div class=" sty-input-wrapper me-3">
                                <input class="sty-inp" type="number" name="" id="">
                                <label for="" class="sty-label">Total Amount</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp w-100 form-control" name="" id="">
                                    <label for="" class="sty-label">Amount in Words</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <textarea class="sty-inp w-100 form-control" name="" id="" cols="30" rows="1"></textarea>
                                    <label for="" class="sty-label">Narration</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1 mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Submit</button>
                    </div>

                    <div class="modal fade" id="addExpenseCostCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Cost Center</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!-- Your form fields for adding cost center here -->
                              <div class="form-group">
                                <label for="costCenter">Cost Center</label>
                                <input type="text" class="form-control" id="costCenter">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="income-tab-pane" role="tabpanel" aria-labelledby="income-tab" tabindex="0">
        <div class="container shadow pt-4">
            <form action="">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <select class="w-100 sty-inp form-control" name="" id="">
                                <option value="">Voucher 1</option>
                                <option value="">Voucher 2</option>
                            </select>
                            <label class="sty-label" for="">Voucher Type</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control" type="text" name="" id="">
                            <label class="sty-label" for="">Voucher Number</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Booking Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Name</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="date" name="" id="">
                            <label class="sty-label" for="">Invoice Date</label>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="sty-input-wrapper w-100">
                            <input class="sty-inp form-control w-100" type="text" name="" id="">
                            <label class="sty-label" for="">Vendor Invoice Number</label>
                        </div>
                    </div>

                    <hr class="mt-1 mb-3">

                    <div class="col-12" id="incomes">
                        <div v-for="(item, index) in incomes" :key="index">
                            <div class="row" :id="'income' + (index + 1)">
                                <div class="col-8 mb-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="sty-input-wrapper w-100">
                                                <input class="sty-inp form-control w-100" type="text" name="" :id="'income_product' + (index + 1)">
                                                <label class="sty-label" for="">Ledger</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" :id="'income_quantity' + (index + 1)">
                                        <label class="sty-label" for="">Quantity</label>
                                    </div>  
                                </div>

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="text" name="" :id="'income_rate' + (index + 1)">
                                        <label class="sty-label" for="">Rate</label>
                                    </div>  
                                </div> -->

                                <div class="col-2 mb-3">
                                    <div class="sty-input-wrapper w-100">
                                        <input class="sty-inp form-control w-100" type="number" name="" v-model="item.income_amount" :id="'expense_amount' + (index + 1)">
                                        <label class="sty-label" for="">Amount</label>
                                    </div>
                                </div>

                                <div class="col-2 mb-3">
                                    <button class="btn btn-primary" @click="openModal(item.income_amount)" type="button">Add Cost Center</button>  
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mt-3" style="justify-content: space-between;">
                            <button class="btn btn-primary" @click="addIncome" type="button">Add More</button>
                            <div class=" sty-input-wrapper me-3">
                                <input class="sty-inp" type="number" name="" id="">
                                <label for="" class="sty-label">Total Amount</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <input type="text" class="sty-inp w-100 form-control" name="" id="">
                                    <label for="" class="sty-label">Amount in Words</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="sty-input-wrapper w-100">
                                    <textarea class="sty-inp w-100 form-control" name="" id="" cols="30" rows="1"></textarea>
                                    <label for="" class="sty-label">Narration</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1 mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Submit</button>
                    </div>

                    <div class="modal fade" id="addIncomeCostCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Cost Center</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!-- Your form fields for adding cost center here -->
                              <div class="form-group">
                                <label for="costCenter">Cost Center</label>
                                <input type="text" class="form-control" id="costCenter">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="payment-tab-pane" role="tabpanel" aria-labelledby="payment-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="receipt-tab-pane" role="tabpanel" aria-labelledby="receipt-tab" tabindex="0">...</div>
    </div>
</div>

<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

<script>
    let datatable_columns = {{ datatable_columns }};
</script>
{% endblock body %}